zebrazoom/__pycache__/
zebrazoom/code/GUI/__pycache__/
zebrazoom/code/__pycache__/
zebrazoom/code/getImage/__pycache__/
zebrazoom/code/trackingFolder/__pycache__/
zebrazoom/code/trackingFolder/headTrackingHeadingCalculationFolder/__pycache__/
zebrazoom/code/trackingFolder/eyeTracking/__pycache__/
zebrazoom/code/trackingFolder/tailTrackingFunctionsFolder/__pycache__/
zebrazoom/code/trackingFolder/tailTrackingFunctionsFolder/tailTrackingExtremityDetectFolder/__pycache__/
zebrazoom/code/trackingFolder/tailTrackingFunctionsFolder/tailTrackingExtremityDetectFolder/findTailExtremeteFolder/__pycache__/
zebrazoom/code/vars/__pycache__/
zebrazoom/dataAnalysis/dataanalysis/__pycache__/
zebrazoom/dataAnalysis/datasetcreation/__pycache__/
zebrazoom/dataAnalysis/__pycache__
zebrazoom/videoFormatConversion/__pycache__
zebrazoom/code/dataPostProcessing/__pycache__/
zebrazoom/dataAnalysis/postProcessingFromCommandLine/__pycache__/

zebrazoom/newhyperparameters
zebrazoom/trace.txt

zebrazoom/ZZoutput/

MANIFEST
dist/
zebrazoom.egg-info/

zebrazoom/configuration/
!zebrazoom/configuration/4wellsZebrafishLarvaeEscapeResponses.json
!zebrazoom/configuration/fliesInTube.json
!zebrazoom/configuration/headEmbeddedZebrafishLarva.json
!zebrazoom/configuration/screenFastTrackingConfigFileTemplate.json
!zebrazoom/configuration/testThresholdsForFastScreen.json

zebrazoom/dataAnalysis/classifiers/*
zebrazoom/dataAnalysis/data/*
zebrazoom/dataAnalysis/experimentOrganizationExcel/*
zebrazoom/dataAnalysis/resultsClustering/*
zebrazoom/dataAnalysis/resultsKinematic/*
zebrazoom/dataAnalysis/analysisScriptsForProjects/

prepRepo.sh
trace.txt

launch*.sh
*Launch.sh

*_paramSet
*_config.json
*_config_old.json
*_configOld.json
newhyperparameters

experimentWithAutomaticOptimalParamSearch.py

pypiUpload.sh

build
