zebrazoom/__pycache__/
zebrazoom/code/GUI/__pycache__/
zebrazoom/code/__pycache__/
zebrazoom/code/getImage/__pycache__/
zebrazoom/code/tracking/__pycache__/
zebrazoom/code/tracking/headTrackingHeadingCalculation/__pycache__/
zebrazoom/code/tracking/tailTracking/__pycache__/
zebrazoom/code/tracking/tailTracking/tailTrackingExtremityDetect/__pycache__/
zebrazoom/code/tracking/tailTracking/tailTrackingExtremityDetect/findTailExtremete/__pycache__/
zebrazoom/code/vars/__pycache__/

zebrazoom/newhyperparameters
zebrazoom/trace.txt

zebrazoom/ZZoutput/