__pycache__/
code/GUI/__pycache__/
code/__pycache__/
code/getImage/__pycache__/
code/tracking/__pycache__/
code/tracking/headTrackingHeadingCalculation/__pycache__/
code/tracking/tailTracking/__pycache__/
code/tracking/tailTracking/tailTrackingExtremityDetect/__pycache__/
code/tracking/tailTracking/tailTrackingExtremityDetect/findTailExtremete/__pycache__/
code/vars/__pycache__/

newhyperparameters
trace.txt

ZZoutput/